<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.UserMapper">

	<!-- ユーザー登録 -->
	<insert id="setUser">
		insert into user(
		id
		, name
		, birthdate
		, deleted
		, created_at
		, created_by
		, updated_at
		, updated_by
		, deleted_at
		, deleted_by
		)
		values (
		#{id}
		, #{name}
		, #{birthdate}
		, #{deleted}
		, #{createdAt}
		, #{createdBy}
		, #{updatedAt}
		, #{updatedBy}
		, #{deletedAt}
		, #{deletedBy}
		)
	</insert>

	<!-- ユーザー検索 -->
	<select id="getUser"
		resultType="com.example.bean.User">
		select * from user where name like #{name} '%' and birthdate = #{birthdate} and deleted = 0
	</select>
	
	<select id="getUserName"
		resultType="com.example.bean.User">
		select * from user where name like #{name} '%' and deleted = 0
	</select>
	
	<select id="getUserBirthdate"
		resultType="com.example.bean.User">
		select * from user where birthdate = #{birthdate} and deleted = 0
	</select>
	
	<select id="getUserAll"
		resultType="com.example.bean.User">
		select * from user where deleted = 0
	</select>
	
	<select id="getUserId"
		resultType="com.example.bean.User">
		select * from user where id = #{id} and deleted = 0
	</select>
	
	<!-- ユーザー削除 -->
	<update id="deleteUser">
	    update user set 
	    deleted = '1' 
	    , deleted_at = #{deletedAt}
	    where id = #{id}
	</update>
	
	<!-- ユーザー更新 -->
	<update id="updateUser">
	    update user set 
	    name = #{name}
	    , birthdate = #{birthdate} 
	    , updated_at = #{updatedAt}
	    where id = #{id}
	</update>

</mapper>